$navbarOrangeColor: #f56c51fe;
$orangeColor: #F6A357;
$beigeStandarColor: #ffecdcfe;
$whiteStandarColor: #fefefffe;
$warningButtonColor: #f34727fe;
$standarButtonColor: #fef5edfe;
$yellowStandarColor: #f8a451fe;
$purpleColor: #6335B1;
$algaeColor: #1C7B62;
$acceptGreen: #92CF56;

// Landing Page Colors
$black: #16302b;
$white: #FFFFFF;
$clear-blue: #99BCDE;
$dark-blue: #0057AC;
$orange: #fe9000;
$dark-blue-filter: invert(24%) sepia(80%) saturate(1799%) hue-rotate(192deg) brightness(90%) contrast(107%);